@font-face {
    font-family: 'Custom';
    src: local('Poppins-Reguar'), url(./fonts/Poppins-Bold.ttf) format('truetype');
  }

.App{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-weight: black;
    background-color: #847875;
}

 #root, .App {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #847875;
  }

body {
    background-color: #847875;
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Poppins';
}

